<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/edit/<%= Product._id %>" method="POST">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" value="<%= Product.title %>" required>
        <br>
        <label for="img">Image URL:</label>
        <input type="text" id="img" name="img" value="<%= Product.img %>" required>
        <br>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= Product.name %>" required>
        <br>
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" step="0.01" value="<%= Product.price %>" required>
        <br>
        <label for="category">Name:</label>
        <input type="text" id="category" name="category" value="<%= Product.category %>" required>
        <br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" required><%= Product.description %></textarea>
        <br>
        <label for="supplier">Supplier:</label>
        <input type="text" id="supplier" name="supplier" value="<%= Product.supplier %>" required>
        <br>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" step="1" value="<%= Product.amount %>" required>
        <br>
        <button type="submit">Update Product</button>
    </form>
    <a href="/">Back to Product List</a>
</body>
</html>
